@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');


body{
    margin:0;
    padding:0;
    background: url('img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhaina 2', cursive;
}


.left{

        display: inline-block;
        position: absolute;
        top: 16px;
        color:white;
        text-align: center;
        font-size: 16px;
        width:20%;
        height:90px;
}

.mid{
    display: block;
    width:45%;
    margin:20px auto;
}

.right{
    text-align: center;
    width:20%;
    display: inline-block;
    position: absolute;
    right:10px;
    top:20px;
}

.navbar{
    display: inline-block;

}

.navbar li{
    list-style-type: none;
    display: inline-block;
}

.navbar li a{
    color:white;
    text-decoration: none;
    padding:34px 15px;
    font-size: 25px;
}

.navbar li a:hover,.navbar li a.active {
    text-decoration: underline;
    color:grey;
}

     .left img{
    width:70%;
    margin: auto;
    height:100px;
}


.btn{
    padding:13px;
    background-color: black;
    color:white;
    margin:5px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', cursive;
}

.btn:hover{
    background-color:white;
    color:black;
    border: 2px solid black;
}


.container{
    border: 2px solid white;
    padding: 2px 2px;
    width:20%;
    border-radius:10px;
    margin-left:29px;
    margin-top: 100px;
    COLOR:WHITE;
    text-align: center;
    height:50%x;
}

.logo-name{
    position:absolute;
    text-align:center;
    width:100%;
}

.form-group input {
        text-align: center;
        display: block;
        width:90%;
        margin: 10px auto;
        border:2px solid black;
        border-radius: 8px;
        font-family: 'Baloo Bhaina 2', cursive;
}

#su{
    width:25%;
    height:50px;
    padding:0px;
    margin: 20px auto;
}




